.todo-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #262626;
  width: 47rem;
  height: 4rem;
  border-radius: 3rem;
  margin: 0.3rem;
}

.left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 0.8rem;
}

.left input {
  cursor: pointer;
}

.item-task {
  color: #f2f2f2;
  margin-left: 0.3rem;
}

.delete-button {
  background-color: #808080;
  border: none;
  font-size: 1rem;
  border-radius: 2rem;
  color: #fff;
  cursor: pointer;
  margin-right: 1rem;
  height: 2rem;
}
